<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/waynesankey/streamer_control/main/streamer_parts1.png">
        <br>
        <h1>Music Streamer Controls</h1>
        <br>
        <p>Streamer DAC and I/V Power</p>
        
        <h3>
            {% if powerState == 1 %}
                <a href="/powerButton/off"class="button">TURN OFF</a> 
			{% else %} 
				<a href="/powerButton/on" class="button">TURN ON</a>  
			{% endif %}
        </h3>
        <br>
        <p>Time is: {{ time }}</p>
    </body>
</html>