<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/waynesankey/streamer_control/main/streamer_parts1.png">
        <br>
        <h1>Music Streamer Controls</h1>
        <br>
        {% if powerActual == 1 %}
        <p>Streamer DAC and I/V Power is ON</p>
        {% else %}
        <p>Streamer DAC and I/V Power is OFF</p>
        {% endif %}

        <form action="/streamer" method="post">
            {% if powerState == 1 %}
            <p><input type="submit" value="TURN OFF"/></p>
            {% else %}
            <p><input type="submit" value="TURN ON"/></p>
            {% endif %}
        </form>

<!--
        <h3>
            {% if powerState == 1 %}
                <a href="/streamer" class="button">TURN OFF</a> 
			{% else %} 
				<a href="/streamer" class="button">TURN ON</a>  
			{% endif %}
        </h3>
-->
        <br>
        <p>Time is: {{ time }}</p>

        <a href="/streamer" class="button">REFRESH</a>

    </body>
</html>